
.index-main {
    margin: 30px auto;
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 15px;
    font-family: 微软雅黑;
    background-color: #017EC0;
}

.index-logo {
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    letter-spacing: 10px;
    color: white;
}

.index-content {
    margin: 0px auto;
    width: 70%;
    height: 400px;
    background-color: white;
}

.index-content p {

    height: 100px;
    line-height: 100px;
    font-size: 20px;
}


.index-card {
    font-size: 30px;
    margin: 0px auto;
    width:55%;
    height: 130px;
    letter-spacing: 10px;
}
.index-card a:link{
    color:white;



}
.index-card a:visited{color:white;}
.index-card a:hover,a:active
{

    color:red;

}

.index-card-left {

    width:45%;
    height: 130px;
    line-height:130px;
    background-color: #017EC0;
    float:left;

}

.index-card-right {
    width:45%;
    height: 130px;
    line-height:130px;
    background-color: #017EC0;
    float:left;
    margin-left:10%

}

.footer {
    color: white;
    margin-top: 20px;
}

.exam-item td{
    padding : 4px;
}

span{
    margin-right : 37px;
}


