@charset "utf-8";
/* CSS Document */

.print {
  display: none;
 color: #000;
 background: none;

}

#head {
    display:none;
}

.print-p3{
    margin-top:-15px;
}

.print-weight{
 width: 100%;
 padding: 0;
 margin: 0cm;
}
.print-weight2{
 width: 100%;
 padding: 0;
 margin: 0cm;
}

.person-info{
    margin-right : 2.1%;
}

.inline{
    line-height:24px;
}

.health-info{
    line-height:43px;
}

.info-4{
    display:block;
    margin-top:-6.3%;
}

.print-info{
    width:78%;
}
