@charset "utf-8";
/* CSS Document */

.print {
  display: none;
 color: #000;
 background: none;

}

#head {
    display:none;
}

.print-p3{
    margin-top:-15px;
}

.print-weight{
 width: 100%;
 padding: 0;
 margin: 0cm;
}
.print-weight2{
 width: 100%;
 padding: 0;
 margin: 0cm;
}