@charset "utf-8";
/* CSS Document */

.print {
  display: none;
 color: #000;
 background: none;

}

#head {
    display:none;
}

.print-p3{
    margin-top:-15px;
}

.print-weight{
 width: 100%;
 padding: 0;
 margin: 0cm;
}
.print-weight2{
 width: 100%;
 padding: 0;
 margin: 0cm;
}

.person-info{
}

.inline{
    line-height:24px;
}

.health-info{
    line-height:43px;
}

.info-4{
    display:block;
    margin-top:-6.3%;
}

.print-info{
    width:78%;
}

.p1{
      display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: -1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: -8px;
}
.p2{
      display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: -1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left:-4px;
    margin-bottom: -8px;
}
.p3{
   display: block;
   width:50%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left:-1px;
}

.exam-item td, .apply-item td{
    padding : 4px;
}
