@(person: Person, applies:List[models.Application])

@main("欢迎来到泸州市人民医院参加体检，祝你身体健康") {
<div class="title" align="center"><table width="50%" border="0" cellspacing="0" cellpadding="0" class="print-weight2">
    <tr>
        <!--<td width="15%">头像图片</td>-->
        <td width="90%" align="center"><h1>泸州市人民医院体检申请单</h1></td>
    </tr>
</table>
</div>
<div class="p1" align="center"><table width="50%" border="0" cellspacing="0" cellpadding="0"  class="print-weight2">
    <tr>
        <td width="80%" >单位：@person.organisation</td>
        <!--<td width="20%" align="right ">申请表条形码</td>-->
    </tr>
</table>
</div>
<div class="p2" align="center"><table width="50%"  class="print-weight2"><tr>
    <td width="21%" align="left" valign="top">姓名：@person.name</td>
    <td width="15%" align="left" valign="top">性别：@person.gender</td>
    <td width="19%" align="left" valign="top">年龄：@person.age</td>
    <td width="45%" align="left" valign="top">联系人电话：@person.tel</td></tr></table>
</div>
<div class="p3 print-p3" >
    <p>联系人地址：@person.address</p>
</div>
<div class="table2" align="center">
    <table width="50%" border="1" cellpadding="0" cellspacing="0"  class="print-weight2"style="font-size:19px;">
        <tr>
            <th width="30%" height="31" align="center" valign="middle">申请项目</th>
            <th width="14%" align="center" valign="middle">开单医生</th>
            <th width="14%" align="center" valign="middle">申请科室</th>
            <th width="20%" align="center" valign="middle">申请时间</th>
            <th width="22%" align="center" valign="middle">体检地点</th>
        </tr>
        @for(applies <- applies){
        <tr class="apply-item">
            <td height="50" align="left" valign="middle">@applies.applyItem</td>
            <td align="center" valign="middle">@applies.signDoctor</td>
            <td align="center" valign="middle">@applies.applyDepartment</td>
            <td align="left" valign="middle">@applies.applyTime.toString().substring(0,16)</td>
            <td align="left" valign="middle">@applies.examAddress</td>
        </tr>
        }
    </table>
</div><br>
<div class="print" align="center">
    <input onclick=window.print() style="cursor:hand" type=button value=打印本页 />
</div>
}
