@(person: Person, applies:List[models.Application])

@main("欢迎来到泸州市人民医院参加体检，祝你身体健康") {
<div id="print_apply">
<div class="title" align="center"><table width="50%" border="0" cellspacing="0" cellpadding="0" class="print-weight2">
    <tr>
        <td width="15%">
            <img src=@routes.Assets.at("images/photo/zp.jpg") />
        </td>
        <td width="90%" align="center"><h1>泸州市人民医院体检申请单</h1></td>
    </tr>
</table>
</div>
<div class="p1" align="center"><table width="50%" border="0" cellspacing="0" cellpadding="0"  class="print-weight2">
    <tr>
        <td width="80%" align="left">单位：@person.organization</td>
        <td width="20%" align="right "><img src="@routes.Assets.at("images/photo/barcode.jpg")" /></td>
    </tr>
</table>
</div>
<div class="p2" align="center"><table width="50%"  class="print-weight2"><tr>
    <td width="21%" align="left" valign="top">姓名：@person.name</td>
    <td width="15%" align="left" valign="top">性别：@person.gender</td>
    <td width="19%" align="left" valign="top">年龄：@person.age</td>
    <td width="45%" align="left" valign="top">联系人电话：@person.tel</td></tr></table>
</div>
<!--<div class="apply-photo"><img src=@routes.Assets.at("images/photo/zp.jpg") /></div>-->
<div class="p3 print-p3 print-weight2" >
    <p>联系人地址：@person.address</p>
</div>
<div class="table2" align="center">
    <table width="54.5%" border="1" cellpadding="0" cellspacing="0"  class="print-weight2"style="font-size:19px;">
        <tr>
            <th width="30%" height="31" align="center" valign="middle">申请项目</th>
            <th width="14%" align="center" valign="middle">开单医生</th>
            <th width="14%" align="center" valign="middle">申请科室</th>
            <th width="20%" align="center" valign="middle">申请时间</th>
            <th width="22%" align="center" valign="middle">体检地点</th>
        </tr>
        @for(applies <- applies){
        <tr class="apply-item">
            <td height="50" align="left" valign="middle">@applies.applyItem</td>
            <td align="center" valign="middle">@applies.signDoctor</td>
            <td align="center" valign="middle">@applies.applyDepartment</td>
            <td align="left" valign="middle">@applies.applyTime</td>
            <td align="left" valign="middle">@applies.examAddress</td>
        </tr>
        }
    </table>
</div>
</div><br>
<div class="print" align="center">
    <input onclick="print_apply()" style="cursor:hand" type=button value=打印本页 />
</div>
<div id="show" align="center">
    <p id="redirect_info"></p>
</div>

<script type="text/javascript">
var t=10;//设定跳转的时间
var clear;
function refer(){
    if(t<=0){
		window.clearInterval(clear);
		//need to change.
        history.go(-3);
    }
    document.getElementById('redirect_info').innerHTML="申请单开始打印，"+t+"秒后跳转到首页。"; // 显示倒计时
    t--;//本文转自：
}

var LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
function print_apply(){
        var strStyleCSS="<link href='/assets/stylesheets/print.css' type='text/css' rel='stylesheet'>";
		var strHtml=strStyleCSS+"<body>"+document.getElementById("print_apply").innerHTML+"</body>";

		LODOP.PRINT_INIT("医院申请单");
		LODOP.ADD_PRINT_HTM(20,30,"93%","90%",strHtml);
		//LODOP.PREVIEW();
		var is_print = LODOP.PRINT();
        if(is_print){
            document.getElementById('show').style.display="block";
            clear = setInterval("refer()",1000); //启动1秒定时
        }
	};
</script>
}
