@(person: Person, exams:List[Examination])

@main("Welcome to Play 2.1") {
<table width="60%" height="295" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="2" align="center" valign="top">泸州市人民医院体检单</td>
            </tr>
            <tr>
                <td width="69%" valign="top">单位：@person.organisation</td>
                <td width="31%" align="center" valign="middle">门诊号：@person.examImage></td>
            </tr>
            <tr>
                <td colspan="2"><table width="100%" border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="16%" height="40">姓名：@person.name</td>
                        <td width="10%">性别：@person.gender</td>
                        <td width="19%">婚姻状况：@person.marryStatus</td>
                        <td width="11%">年龄：@person.age</td>
                        <td width="25%">体检编号：@person.examID</td>
                        <td width="19%">联系电话：@person.tel</td>
                        l
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td><font size="2">温馨提示:</font><font size="4"><strong>若有采血项目，请先采学再做其他的检查！！！</strong></font>
                    <strong><br />
                    </strong>
                    1、请在早上10：30前空腹采血，采血后用干棉签按压穿刺点3~5分钟，不出血后，将棉签扔到黄色垃圾桶内。
                    <br />2、 孕妇请勿做X线检查，未婚女性勿作妇科检查，经期勿做尿常规检查。
                    妇科检查前请排空小便，妇科超声波检查前请保持膀胱充盈。
                    <br />3、检查完毕后，请将指引单交回体检测血压处以确认有漏检项目。
                </td>
                <td rowspan="2" align="center"><h1><font size="10">祝您身体健康</font></h1></td>
            </tr>
            <tr>
                <td height="61" valign="top">4、检查完毕后，请将指引单交回体检测血压处以确认有无漏检项目<br>(未交指引单者可能无法领取体检结果)</td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td><table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr>
                <th width="26%">体检科室</th>
                <th width="29%">体检地点</th>
                <th width="37%">体检项目及价格</th>
                <th width="8%">操作人员</th>
            </tr>
            @for(exam <- exams){
            <tr>
                <td>@exam.examItem</td>
                <td>@exam.examAddress</td>
                <td>@person.cost</td>
                <td>@exam.admin</td>
            </tr>
            }

        </table></td></tr>
    <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="3"><br><font size="5">血压：__/__mmHg</font></td>
            </tr>
            <tr>
                <td width="45%"><font size="5">登记人:__________</font></td>
                <td width="38%"><font size="5">体检已计价费用：<u>@person.cost</u>元</font></td>
                <td width="17%"><font size="5">总费用：<u>@person.allCost</u>元</font></td>
            </tr>
            <tr>
                <td colspan="3" valign="top"><font size="5">备注：1、个人客户请于完成的三个公作日后下午，凭借缴费发票领取报告。<br>
                    &nbsp;&nbsp;&nbsp;2、团体客户由单位负责人在体检完成的7个工作日后下午，同意领取报告。</font></td>
            </tr>
        </table>
        </td></tr>
</table>
}
