@(person: Person, exams:List[Examination], hasApply:Integer)

@main("欢迎来到泸州市人民医院参加体检，祝你身体健康") {
<table id="print_guide" width="60%" height="295" border="0" align="center" cellpadding="0" cellspacing="0" class="print-weight">
    <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2" align="center" valign="top"><h1>泸州市人民医院体检指引单</h1></td>
            </tr>
            <tr>
                <td width="69%" valign="top">单位：@person.organization</td>
                <td width="31%" align="right" valign="middle">门诊号：@person.examImage</td>
            </tr>
            <tr>
                <td colspan="2" >
                    <hr>
                    <span class="person-info">姓名:@person.name</span>
                    <span class="person-info">性别:@person.gender</span>
                    <span class="person-info">婚姻状况:@person.marryStatus</span>
                    <span class="person-info">年龄:@person.age</span>
                    <span class="person-info">体检编号:@person.examImage</span>
                    <span>联系电话:@person.tel</span>
                    <hr>
                </td>
            </tr>
            <tr class="inline">
                <td class="print-info"><font size="2">温馨提示:</font><font size="4"><strong>若有采血项目，请先采学再做其他的检查！！！</strong></font>
                   <br />
                    1、请在早上10：30前空腹采血，采血后用干棉签按压穿刺点3~5分钟，不出血后，将棉签扔到黄色垃圾桶内。
                    <br />2、 孕妇请勿做X线检查，未婚女性勿作妇科检查，经期勿做尿常规检查。
                    妇科检查前请排空小便，妇科超声波检查前请保持膀胱充盈。
                    <br />3、检查完毕后，请将指引单交回体检测血压处以确认有漏检项目。
                </td>
                <td class="person-photo" align="center"><img src=@routes.Assets.at("images/photo/zp.jpg")></td>
            </tr>
            <tr class="inline">
                <td class="info-4" height="61" valign="top">4、检查完毕后，请将指引单交回体检测血压处以确认有无漏检项目<br>(未交指引单者可能无法领取体检结果)</td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td><table width="100%" border="1" cellspacing="0" cellpadding="0" style="font-size:19px;">
            <tr>
                <th width="26%">体检科室</th>
                <th width="29%">体检地点</th>
                <th width="37%">体检项目</th>
                <th width="8%">操作人员</th>
            </tr>
            @for(exam <- exams){
            <tr class="exam-item">
                <td>@exam.examDepartment</td>
                <td>@exam.examAddress</td>
                <td>@exam.examItem</td>
                <td>@exam.admin</td>
            </tr>
            }

        </table></td></tr>
    <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:19px;">
            <tr>
                <td colspan="3"><br><strong>血压：__/__mmHg</strong></td>
            </tr>
            <tr>
                <td width="18%"><strong>登记人:__________</strong></td>
				<td width="30%"><strong>体检已计价费用:<u>__________</u>元</strong></td>
                <td width="18%"><strong>总费用:<u>__________</u>元</strong></td>
            </tr>
            <tr>
                <td colspan="3" valign="top" >备注：1、个人客户请于完成的三个公作日后下午，凭借缴费发票领取报告。<br>
                    &nbsp;&nbsp;&nbsp;2、团体客户由单位负责人在体检完成的7个工作日后下午，同意领取报告。</td>
            </tr>
        </table>
        </td></tr>
</table><br><br>
<div class="print" align="center">
    <input onclick="javascript:print_guide()" style="cursor:hand" type=button value=打印本页 />
</div>
<div id="show" align="center">
    <p id="redirect_info" align="center"></p>
</div>
<div id="show-apply" align="center">
    <p id="redirect_info_apply" align="center"></p>
</div>
<script type="text/javascript">
var t=5;//设定跳转的时间
var go_home = 1 ;
var info = "";
var show_id = ""
function refer(){
    if(t<=0){
        if(go_home)
        {
             window.history.go(-2);
        }else{
            window.location.href="/apply/@person.id";
        }
    }
    document.getElementById(show_id).innerHTML="指引单开始打印，"+t+info // 显示倒计时
    t--;//本文转自：
}
var LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
function print_guide(){
        var strStyleCSS="<link href='/assets/stylesheets/print.css' type='text/css' rel='stylesheet'>";
		var strHtml=strStyleCSS+"<body>"+document.getElementById("print_guide").innerHTML+"</body>";

		LODOP.PRINT_INIT("打印指引单");
		LODOP.ADD_PRINT_HTM(20,30,"93%","90%",strHtml);
		//LODOP.PREVIEW();
		var is_print = LODOP.PRINT();
        if(is_print){
            if (@hasApply){
            document.getElementById('show-apply').style.display="block";
                info = "秒后跳转到申请单页面。";
                go_home = 0;
                show_id = 'redirect_info_apply'
            }else{
            document.getElementById('show').style.display="block";
                info = "秒后跳转到首页。";
                show_id = 'redirect_info'
            }
            setInterval("refer()",1000);
        } 
	};
</script>
}
