@(welcome:String)

@main("欢迎来到泸州市人民医院参加体检，祝你身体健康") {

    @welcome
<p>
    <object classid="clsid:E6E0A751-541A-4855-9A8D-35EB7122C950" id="SynIDCard1" codeBase="SynIDCard.Cab#version=1,0,0,1" width="0" height="0">
        <param name="_Version" value="65536">
        <param name="_ExtentX" value="635">
        <param name="_ExtentY" value="582">
        <param name="_StockProps" value="0">
    </object>
</p>
<form method="POST" action="--WEBBOT-SELF--" name="form1">
    <p>
        读卡返回信息：<input type="text" name="RETSTR" size="49">
        <br>
        姓&nbsp;&nbsp;&nbsp; 名：<input type="text" name="NameA" size="9">&nbsp; 姓&nbsp;&nbsp;&nbsp;
        名2：<input type="text" name="Name2" size="11">
        <br>
        性&nbsp;&nbsp;&nbsp; 别：<input type="text" name="Sex" size="9">&nbsp; 性&nbsp;&nbsp;&nbsp;
        别2：<input type="text" name="Sex2" size="11">
        <br>
        民&nbsp;&nbsp;&nbsp; 族：<input type="text" name="Nation" size="9">&nbsp; 民&nbsp;&nbsp;&nbsp;
        族2：<input type="text" name="Nation2" size="11">
        <br>
        出生日期：<input type="text" name="Born" size="20">&nbsp; 出生日期：<input type="text" name="Born2" size="20">
        <br>
        地&nbsp;&nbsp;&nbsp; 址：<input type="text" name="Address" size="44"><BR>
        身份证号：<input type="text" name="CardNo" size="34">
        <br>
        有 效 期：<input type="text" name="Activity" size="20">&nbsp; 有效期2：<input type="text" name="Activity2" size="37">
        <br>
        发证机关：<input type="text" name="Police" size="54"><BR>
        照片文件：<input type="text" name="PhotoName" size="54">
    </p>
    <p>
        <br>
        端 口 号：<input type="text" name="Port" size="10" value="1"><BR><BR>
        <input type="button" value="设置端口" name="SetPortBtn" onclick="SetPort_onclick();">
        <input type="button" value="初始化" name="InitBtn" onclick="Init_onclick()">
        <input type="button" value="读身份证信息" name="ReadCardBtn" onclick="ReadCard_onclick()">
        <input type="button" value="读安全模块ID" name="ReadSAMIDBtn" onclick="ReadSAMID_onclick()"></p>
</form>
}
